<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<div> 
	{{>navbar}}
</div>
<div class="container" >
    <h1 class="well" style="
    border-top-width: 60px;" >Registration Form</h1>
	<div class="col-lg-12 well">
	<div class="row">
				<form>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-12 form-group">
								<label>First Name</label>
								<input type="text" placeholder="Enter First Name " class="form-control">
							</div>
							<div class="col-sm-12 form-group">
								<label>Last Name</label>
								<input type="text" placeholder="Enter Last Name " class="form-control">
							</div>
							<div class="col-sm-12 form-group">
							<label>Phone</label>
							<textarea placeholder="Enter Phone Here.." class="form-control"></textarea>
							</div>
						</div>		
						<div class="form-group">
							<label>Email Address</label>
							<input type="text" placeholder="Enter Email Address Here.." class="form-control">
						</div>				
								
						<div class="row">
							<div class="col-sm-2 form-group">
								<label>Admin Permission</label>
								<br>
								<div id="adminDiv">
									<select name="AdminPermission">
										<option value="NoVal">Select value</option>
										<option value="YesPer">Yes</option>
										<option value="NoPer">No</option>
									</select>
								</div>
							</div>	
							
							<div class="col-sm-4 form-group">
								<label>Password</label>
								<input type="password" placeholder="Enter Password" class="form-control">
							</div>	
							<div class="col-sm-2 form-group">
								<label>Birthday</label>
								<input type="text" placeholder="yyyy-mm-dd" class="form-control">
							</div>	

							<div class="col-sm-4 form-group">
								<label>Select type of profile for user</label>
								<br>
								<div id="testtest">
									<select name="userType">
										<option value="NoVal">Select value</option>
										<option value="Employee">Employee</option>
										<option value="Guest">Guest</option>
										<option value="Maintenance">Maintenance</option>
										<option value="Cleaning">Cleaning</option>
									</select>
								</div>
							</div>		
						</div>
										
					<button id="submitRegButton" type="button" class="btn btn-lg btn-info">Submit</button>					
					</div>
				</form> 
				</div>
	</div>
	</div>